{% csrf_token %}

{% for field in form %}
    <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
    {% for errors in field.errors %}</br>
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
    {{field}}
{% endfor %}</br>

<!--<p><label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label></p>-->
<!--{% for errors in form.description.errors %}-->
<!--    <p class="text-danger">{{ error }}</p>-->
<!--{% endfor %}-->
<!--{{form.description}}-->
<!--<p><label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label></p>-->
<!--{% for errors in form.status.errors %}-->
<!--    <p class="text-danger">{{ error }}</p>-->
<!--{% endfor %}-->
<!--{{form.status}}-->
<!--<p><label for="{{ form.detailed_description.id_for_label }}">{{ form.detailed_description.label }}</label></p>-->
<!--{% for errors in form.detailed_description.errors %}-->
<!--    <p class="text-danger">{{ error }}</p>-->
<!--{% endfor %}-->
<!--{{form.detailed_description}}-->
<!--<p><label for="{{ form.create_until.id_for_label }}">{{ form.create_until.label }}</label></p>-->
<!--{% for errors in form.create_until.errors %}-->
<!--    <p class="text-danger">{{ error }}</p>-->
<!--{% endfor %}-->
<!--{{form.create_until}}</br>-->
</br>
<input type="submit" value="{{ button_text }}" />