{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Create Task</h1>

<form method="post">
    {% csrf_token %}
    <label>Description:</label><br/>
    <input type="text" name="description"/><br/>

    <label>Detailed description:</label><br/>
    <textarea name="detailed_description"></textarea><br/>

    <label>Status:</label><br/>
    <select name="status">
        {% for choice in status_choices %}
        <option value="{{choice.0}}">{{choice.1}}</option>
        {% endfor %}
    </select><br/>

    <label>Create until:</label><br/>
    <input type="date" name="create_until"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
<p>
    <a href='{% url "home" %}'; style="text-align: center; color: goldenrodn;">Back home ↩️︎</a>
</p>
</body>
</html>