{% extends 'base.html' %}
{% block title %}Task update page{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task_view' task.pk %}">Return to task</a>
    </li>
{% endblock %}
{% block content %}
<h1>Update Task</h1>

<form method="post">
    {% csrf_token %}
    <label>Description:</label><br/>
    <input type="text" name="description" value="{{ task.description }}"/><br/>

    <label>Detailed description:</label><br/>
    <textarea name="detailed_description" >{{ task.detailed_description }}</textarea><br/>

    <label>Status:</label><br/>
    <select name="status">
<!--        {% for choice in status_choices %}-->
<!--        <option>{{ task.status }}</option>-->
<!--        {% endfor %}-->
        <option value="{{ task.status }}">{{ task.status }}</option>
    </select><br/>

    <label>Create until:</label><br/>
    <input type="date" name="create_until" value="{{ task.create_until }}"/><br/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>
{% endblock %}