{% extends 'base.html' %}
{% block title %}Task {{task.pk}}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="#">Add</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task_update_view' task.pk %}">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Delete</a>
    </li>
{% endblock %}
{% block content %}
    <h1>{{ task.description }}</h1>
    <h2>{{ task.detailed_description }}</h2>
    <h3>{{ task.get_status_display }}</h3>
    <p>{{ task.create_until|date:"Y-m-d" }}</p>
{% endblock %}

