{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p>
        <a href='create_task/'; style="text-align: center; color: goldenrodn;">Create task🍀📌</a>
    </p>
    {% for task in tasks %}
        <h3>{{ task.description }}</h3>
        <p><a href="/task_view?pk={{ task.pk }}">Show task🔓</a></p>
    {% endfor %}
    <p>
        <a href='/'; style="text-align: center; color: goldenrodn;">Back home ↩️︎</a>
    </p>
</body>
</html>