{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{ task.description }}</h1>
    <h2>{{ task.detailed_description }}</h2>
    <h3>{{ task.get_status_display }}</h3>
    <p>{{ task.create_until|date:"Y-m-d" }}</p>
<p>
    <a href='/'; style="text-align: center; color: goldenrodn;">Back home ↩️︎</a>
</p>
</body>
</html>